.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    object-fit: cover;
    background: rgba(50, 51, 51, 0.9);
}
  
.container{
    display: flex;
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 60%;
    height: 80vh;
    align-items: center;
    justify-items: center;
    z-index: 4;
}
.info{
    flex: 1;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    position: relative;
}
.girl{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.desc{
    display: flex;
    flex-direction: column;
    top: 0;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
}
.big{
    font-size: 100px;
    font-weight: 50px;
    margin-left: 20px;
    color: black;
}
.small{
    margin-top: 150px;
    margin-left: 20px;
    color: black;
}
.main_function{
    flex: 1;
    background-color: rgb(255, 255, 255);
    height: 100%;
    weight: 100%;
}
.rebig{
    margin-top: 70px;
    font-size: 50px;
    font-weight: 100;
    margin-left: 20px;
}
.resmall{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.a{float: left;
   cursor: pointer;
color: palevioletred;}
.input{
    border: none;
    background: transparent;
    border-bottom:1px solid rgb(0, 0, 0) ;
    width: 80%;
    padding: 10px 10px;
    margin-left: 20px;
}
.end{
    margin-top: 80px;
    display: flex;
    position: relative;
}
.checkbox{
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: flex-start;
    flex: 2;
}
.button{
    flex: 1;
    background-color: rgb(17, 179, 243);
    border: 2px solid #fff;
    border-radius: 5%;
    cursor: pointer;
    font-size: large;
    font-family: 'Titillium Web', sans-serif;
    margin-right: 11%;
    justify-content: flex-end;
    /* position: absolute; */
}
.button:hover{
    background-color: aqua;
}

.register{
    border: 2px solid #fff;
    border-radius: 5%;
    cursor: pointer;
    font-size: large;
    font-family: 'Titillium Web', sans-serif;
    margin-right: 11%;
    justify-content: flex-end;
    height: 50px;
    width: 150px;
    background-color: green;
}
.register:hover{
    background-color: greenyellow;
}